PORT=4000
MONGODB_URL=""

MAIL_HOST = smtp.gmail.com     
MAIL_USER = your-email@gmail.com
MAIL_PASS = your-email-password

TWILIO_ACCOUNT_SID = "AC122239ee0f9a55f73f8d57a50f7ecc8b"
TWILIO_AUTH_TOKEN = "b3562658e065b04631d2d7f51b7a9d63"
TWILIO_PHONE_NUMBER = "+18313503007"

JWT_SECRET = "unigoRideSharing@2025"

# Cloudinary Credentials
CLOUD_NAME = "dw1zzpgto"
API_KEY = "916118135659721"
API_SECRET = "EmoPzS2HOAxkL1LILW4oGeE9vE4"

# Firebase Configuration
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_auth_domain
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_STORAGE_BUCKET=your_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
FIREBASE_APP_ID=your_app_id

# Facebook Configuration
FACEBOOK_APP_ID=999570725413882
FACEBOOK_APP_SECRET=f0e5ed98c08d578cde7c61dd708fe55a
